# Format: //devtools/kokoro/config/proto/build.proto

action {
  define_artifacts {
    regex: "git/out/cmake/artifact/*.zip"
    strip_prefix: "git/out/cmake/artifact/"
    fail_if_no_artifacts: true
  }
}
